
#Ignore files build by Visual Studio
WhaTechChallenge/WhaTechChallenge/bin/
WhaTechChallenge/.vs/
WhaTechChallenge/packages/
WhaTechChallenge/WhaTechChallenge.Tests/obj/
WhaTechChallenge/WhaTechChallenge/obj/
